# База данных
DATABASE_URL=postgres://postgres:postgres@localhost:5432/studentdata?sslmode=disable

# Kafka
KAFKA_BROKER=localhost:9093
KAFKA_TOPIC=telemetry-events
KAFKA_GROUP_ID=student-storage-service

# HTTP сервер
HTTP_ADDRESS=:8080

# Повторные попытки подключения к БД
MAX_RETRY_ATTEMPTS=10
RETRY_INTERVAL_SECONDS=3